Data Types And Structures Assignment Questions

1) What are the data structures , and why are they important?

ans: Data Structures is a way to store the data in an efficient manner. they organise , store and collect the data.
They are important because-
a)to choose the right data structure which helps to impact the efficiency and performance of your program. b) simplify data manipulation. c) optimise searching and sorting operations. d) converse memory use.

2) explain the difference between mutable and immutable data types with examples.

ans: Mutable Data : that can be changed after creation.
examples are list , dictionary, set.
Immutable Data: that cannot be changed after creation.
examples are string , tuple.

In [ ]:
#example of mutable data
my_list = [1,2,3]
my_list[1] = 100
print(my_list)

[1, 100, 3]

In [ ]:
# example of immutable data
my_str = "hello"
my_str[0] = "H"
print(my_str)

TypeError: 'str' object does not support item assignment

3) Difference between lists and tuples in python?

ans: Lists are mutable whereas tuples are immutable. list syntax- [] and tuples syntex-(). list perform slower and tuples perform faster. lists are used in dynamic data whereas tuples are used in fixed data.

4) Describe how dictionaries stores the data.

In [ ]:
# ans: Dictionaries stores data in key value pairs. Each key must be unique, and you can access the value by its key.
#key:value
my_dict = {"name": "Samrudhi", "age": 20}
print(my_dict)

{'name': 'Samrudhi', 'age': 20}

5) Why might you use a set instead of a list in python?

ans: Sets are used when you want to store unique elements and don't care about the order. they are also faster than lists for membership tests. Also they don't allow duplicate elements.

6) what is string in python, how is it different from the lists?

ans: A string is a immutable sequence of charaters, it represents and manipulates the textual data. Difference between string and list is that strings are immutable whereas the list are mutable.
example of string is : "Hello".
example of list is: ["H", "e", "l", "l", "o"]

7) How do tuples ensure data integrity in python?

ans: Tuples are immutable, which means once they are created, their values cannot be changed. This ensures data stored in tuples remians constant throughout the program, protecting it from accidential modification.

8) What is a hash table, and how does it relate to dictionaries in python?

ans: A hash table is a data structure that maps keys to values using a hash function. Python dictionaries use hash tables internally to store key-value pairs, allowing for fast and data retrieval.

9) Can a lists contain different data types in python?

In [ ]:
# ans: Yes, lists in python can contain elements of different data types, such as integers, strings, and even other lists or objects.
mixed_list = [1, "hello", 3.9, [2,4]]

10) explain why strings are immutable in python.

ans: Strings are immutable for several reasons: a) improves performance and memory. b) allows hashing c) reduces unexpected behaviour by preventing unintended modification.

11) What advantages do dictionaries offer over lists for certain tasks?

ans: Dictionaries provide: a) fast lookup using keys. b)better for labelling data with meaningful keys. c) ideal for associative arrays.

12) describe a scenario where using tuple is preferable over list.

ans: when data should not be change, such as coordinates, configuration settings, or function return values that should remain constant. Tuples are also faster than lists for iteration.

13) How do sets handle duplicate values in python?

ans: Sets automatically eliminate duplicates. Any duplicate item added to set is ignored.

In [ ]:
s = {1,2,3,1,1,1,2,2}
print(s)

{1, 2, 3}

14) How does the "in" keyword work differently for lists and dictionaries?

ans: For lists, "in" checks if a value exists in the list, whereas "in" in dictionaries checks if a key exits , not a value.

15) Can you modify the elements of tuple? Explain why or why not.

ans: No, tuples are immutable. once created, their elements cannot be chnged or added or removed. this makes them suitable for constant and fixed data.

16) what is a nested dictionary, and give an example of its use case?

In [ ]:
# ans: A nested dictionary is a dictionary inside another dictionary. Useful for storing hierarchical data like student records.
student = {
    "name" : "samu",
    "grades" : {"maths":95, "science":92}
}
student = {
    "name" : "samu",
    "grades" : {"maths":95, "science":92}
}

17) Describe the time complexity of accessing elements in a dictionary.

ans: Accessing elements in a dictionary is O(1) on average due to hashing, meaning it's very fast regardless of the dictionary's size.

18) In what situations are lists preferred over dictionaries?

ans: lists are used over dictionaries when: a) order of elements matters. b) you need to store sequences or collections without key-value pairs. c) you perform many append or iteration operations.

19) Why are dictionaries considered unordered, and how does that affect data retrieval?

ans: Before python 3.7, dictionaries were unordered . from python 3.7 onward, they persive insertion order, but conceptually remain unordered as keys are stored via hashing.

20) Explain the difference between a list and a dictionary in terms of data retrieval.

ans: lists: accessed by index.
dictionary : accessed by key .

PRACTICAL QUESTIONS

In [ ]:
# 1) code to ceate a string with your name and print it.
Name = "Samrudhi"
print(Name)

Samrudhi

In [ ]:
# 2)code to find the length of the string "Hello World"
text = "Hello World"
print(len(text))

11

In [ ]:
# 3) code to slice 1st three characters from the string "Python Programming".
text = "Python Programming"
print(text[0:3])

Pyt

In [ ]:
# 4) code to convert string to uppercast
text = "hello"
print(text.upper())

HELLO

In [ ]:
# 5) code to replace the word
text = "i like apple"
print(text.replace("apple","orange"))

i like orange

In [ ]:
# 6) code to create a list with numbers 1 to 5 and print it.
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [ ]:
# 7) code to append number 10 to the lists[1,2,3,4].
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [ ]:
# 8) code to remove the number 3 from the list[1,2,3,4,5].
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [ ]:
#9) code to access 2nd element in the list['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']
print(my_list[1])

b

In [ ]:
# 10) code to reverse the list
my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [ ]:
# 11) create tuple and print it.
my_tuple = (100,200,300)
print(my_tuple)

(100, 200, 300)

In [ ]:
#12) access second to last element of tuple.
colors = ("red", "green", "blue", "yellow")
print(colors[-2])

blue

In [ ]:
#13) min number in tuple
numbers = (10, 20, 5, 15)
print(min(numbers))

5

In [ ]:
#14) find the index of element "cat" in the tuple
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [ ]:
#15) create a tuple with 3 different fruits and check if "kiwi" is in it.
fruits = ('apple', 'banana', 'cherry')
print('kiwi' in fruits)

False

In [ ]:
#16)create a set with elements and print it
my_set = {'a', 'b', 'c'}
print(my_set)

{'c', 'b', 'a'}

In [ ]:
# 17) clear all the elements from the set.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [ ]:
# 18) remove element 4 from set
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [ ]:
# 19) find the union of two sets
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
# 20) find intersection of two sets
set1 = {1,2,3,4}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3, 4}

In [ ]:
# 21) create a dictionary and print it.
person = {"name": "samrudhi", "age": 20, "city": "kolhapur"}
print(person)

{'name': 'samrudhi', 'age': 20, 'city': 'kolhapur'}

In [ ]:
# 22) add new key-value pair
person = {"name": "john", "age": 25}
person["country"] = "USA"
print(person)

{'name': 'john', 'age': 25, 'country': 'USA'}

In [ ]:
#23) code to access the value associated with the key "name" in dictionary
person = {"name": "alice", "age": 30}
print(person["name"])

alice

In [ ]:
#24) remove the key age
person = {"name": "Bob", "age": 22, "city": "New York"}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25) check if the key "city" exists in the dictionary
person = {"name": "Alice", "city": "Paris"}
print("city" in person)

True

In [ ]:
#26) create a lists , a tuple and a dictionary and print them all
my_list =[1,2,3]
my_tuple = (4,5,6)
my_dict = {"a":7, "b":8}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

In [ ]:
#27) create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
import random
numbers = random.sample(range(1, 101), 5)
numbers.sort()
print(numbers)

[5, 46, 57, 77, 100]

In [ ]:
#28) create a list with string and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date"]
print(my_list[3])

date

In [ ]:
#29) combine two dictionaries into one and print the result
dict1 = {"a": 1, "b":2}
dict2 = {"c": 3, "d": 4}
combined = {**dict1, **dict2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# 30) convert a list of strings into a set.
my_list = {"apple", "banana", "apple", "apple", "cherry"}
my_set = set(my_list)
print(my_set)

{'banana', 'apple', 'cherry'}